<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" routerLink="/ejemplo1">Ejemplo 1</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/ejemplo2">Ejemplo 2</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/ejemplo3">Ejemplo 3</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/ejemplo4">Ejemplo 4</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/ejemplo5">Ejemplo 5</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/cartaspokemon">Cartas Pokemon</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>